.formcontainere {
    background-color: white;
    min-height: 100vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.sidecol_wrapper {
    text-align: start;
    padding: 20px;
}

.CursorText {
    border-right: 10px solid black;
    display: inline-block;
    background-color: white;
    animation: Cursor 0.5s infinite both;
}

hr {
    width: 80%;
    margin: auto;
    animation: loadHr 3s cubic-bezier(0.18, 0.63, 0.71, 0.66) forwards;
}

.title_wraper {
    display: block;
    text-align: start;
}

#product-name {
    font-size: 40px;
}

#product-display {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.formHeader{
    text-align: center;
}
#product-price {
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

#product-price::before {
    content: "\20B9";
}

.userdataslot {
    display: flex;
    align-items: center;
}
.payBlock{
    width: 100%;
    font-size: 20px;
}
.payBlock input{
    width: 30%;
    margin: 5px;
}
.PaymentQrCode{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
#form-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
    column-gap: 5px;
}
.field-name{
    max-width: 100px;
}
.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.35);
    border-top-color: #fff;
    border-radius: 50%;
}
.img_wapper{
    display: flex;
    justify-content: center;
}
#img_display{
    height: 70%;
}
@keyframes loadHr {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }

}
.selectslot_wrappper{
    padding-top: 50px;
    font-size: 20px;
    display: flex;
    row-gap: 50px;
    flex-direction: column;
}
.skeleton {
    height: 52px;
    width: 100%;
    background: linear-gradient(90deg, #ffffff 25%, #fff0cc 50%, #ffaa00 75%);
    background-size: 200% 100%;
    animation: shimmer 1.4s infinite;
    border-radius: 8px; 
}
#submit-btn{
    margin: 10px;
    font-size: 20px;
}
@keyframes shimmer {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: -200% 0;
    }
}